.heading{
    color: var(--color-brown);
    text-align: center;
    font-size: 1.5rem;
    padding-top: .5rem;
}
.white-container{
    background-color: #fbfbfb;
    border-radius: .5em;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}
h2{
    font-size: 1em;
}
.sun-icon{
    display: inline;
    width: 1.5em;
    vertical-align: middle;
    animation: rotate360 2s linear infinite; 
}
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* .face-icon{
    position: absolute;
    left: 10px;

} */
.progress-bar{
    height: 1.5rem;
    background-color: #48A3001A;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: .5rem;

}
.progress-value{
    height: 100%;
    background-color: #48A300;
    border-radius: 15px;
    width: 0%;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width .25s ease-in-out;
    font-size: .8rem;

}
.progress-label{
    color: #fbfbfb;
    padding-left: 1rem;
    min-width: max-content;
}
.progress-title{
    font-size: 1rem;
}

.error-label{
    color: var(--color-warn);
    font-size: .8rem;
    visibility: hidden;
}

.goal{
    border: 1px solid var(--color-gray);
    padding-left: 1em;
    /* padding-top:  1em; */
    /* padding-bottom:  1em; */
    border-radius: .5rem;
    background-color: #fff;
    display: flex;
    height: 2.5rem;
    align-items: center;
} 
.check-icon{
    display: none;
} 
.completed .custom-checkbox{
    border: 1px solid var(--color-green);
    background-color: #48A300;
}
.completed .check-icon{
    display: block;
}

.custom-checkbox{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    width: 100%;
    border: none;
    font-size: .9rem;
    padding-left: .8rem;
    /* background-color: red;    */
    align-self: stretch;
    margin-right: 2rem;
    /* height: 100%; */
    font-weight: 500;
}
.input:disabled{
    background-color: #fff;
}
.input:focus{
    outline: none;
}
.input::placeholder {
    color: #d9d9d9;
}

.completed .input{
    color: #48A300;
    text-decoration: line-through;
}

.qoute{
    text-align: center;
    font-size: .8rem;
    padding-top: 2rem;
}
.made-with{
    text-align: center;
    font-size: .8rem;
    padding-top: 2rem;
}


/* xs */
@media(min-width: 475px){
        .heading{
            font-size: 2rem;
            padding-top: 1rem;
        }
        h2{
            font-size: 1.5em;
        }
        .sun-icon{
        width: 2rem;
        }
        .progress-bar{
            height: 2rem;
        }
        .goal{
            height: 3rem;
        }
    }
    /* sm */
    @media(min-width: 640px){
        .heading{
            font-size: 2.5rem;
        }
        h2{
            font-size: 2rem;
        }
        .sun-icon{
        width: 2.5rem;
        }
        .goal{
            height: 3.5rem;
        }

    }
    /* md */
    @media(min-width: 768px){
        .progress-value{
            font-size: 1rem;
        }
        .qoute{
            font-size: 1rem;
        }
        .goal{
            height: 3.7rem;
        }
    }
    /* lg */
    @media(min-width: 1024px){
        .heading{
            font-size: 3rem;
            padding-top: 1.4rem;
        }
        h2{
            font-size: 2em;
        }
        .sun-icon{
        width: 3rem;
        }
        .progress-bar{
            height: 2.2rem;
        }
        .progress-value{
            font-size: 1.2rem;
        }
        .goal{
            height: 3.9rem;
        }

    }
    /* xl */
    @media(min-width: 1280px){
        .heading{
            font-size: 3rem;
            padding-top: 2rem;
        }
        h2{
            font-size: 2.5em;
        }
        .sun-icon{
        width: 3.5rem;
        }
        .progress-bar{
            height: 2.5rem;
        }
        .progress-value{
            font-size: 1.7rem;
        }
        .white-container{
            margin: 2rem;
            padding: 2rem;
        }
        .goal{
            height: 4.5rem;
        }
    }
    /* 2xl */
    @media(min-width: 1536px){
        .heading{
            font-size: 3rem;
        }
        h2{
            font-size: 2.2em;
        }
        .sun-icon{
        width: 4rem;
        }
        .progress-bar{
            height: 2.8rem;
        }
        .progress-value{
            font-size: 1.9rem;
        }
        .goal{
            height: 5rem;
        }

    }